name: CI

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:

jobs:
  call-template:
    uses: MichaelIP/.github-workflows/.github/workflows/nuget-publish.yml@main
    with:
      project-path: src/Orchestrator/Orchestrator.csproj
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
